#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.intro-container {
  display: flex;
  margin: 2vh;
  border: solid 1px black;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh;
}

.left-intro-container {
  margin: 1vh;
  padding: 1vw;
}

.intro-desc {
  font-size: 15pt;
  margin: 10px;
  color: #856799;
  border-left: solid 1px purple;
  padding: 1vh;
}

#name {
  margin: 1vh;
  font-size: 25pt;
  padding-bottom: 2vh;
  margin-top: -1vh;
  color: #a85add;
}

#intro-image {
  border: solid 1px purple;
  box-shadow: -0.2vw 0.4vh 10px 1px purple;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
  > li {
    margin-right: 1vw;
    list-style: none;
  }
}

.content-container {
  display: flex;
  height: 45vh;
  border: solid 1px black;
  align-items: center;
  justify-content: center;
}

.about-me-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 90%;
}

.card {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.062);
  padding: 2vh;
  margin: 15px;
  color: #856799;
  > h2 {
    color: #a85add;
  }
}

.card-text {
  padding-top: 1vh;
  font-size: 10pt;
  > li {
    list-style: none;
    margin-bottom: 1vh;
    box-shadow: 0 3px 7px 1px rgba(51, 20, 51, 0.219);
    padding: 5px;
    }
  
}

.int-list {

}
